body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #222, #37007a);
  min-height: 100vh;
}

.contenedor {
  max-width: 470px;
  margin: 50px auto 0;
  padding: 40px 35px;
  text-align: center;
  background-color: #37007a;
  color: white;
  border: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

input[type="text"] {
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 16px;
  width: 70%;
  background-color: #ebfffc;
  color: #555;
  border-radius: 20px;
  font-size: 18px;
  margin-right: 12px;
}

input[type="text"]:focus {
  box-shadow: 0 0 5px #00aaff;
  transition: box-shadow 0.3s ease;
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #00aaff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #0088cc;
}
#error {
  display: none;
  color: rgb(250, 172, 172);
  margin-top: 10px;
}

@media (max-width: 480px) {
  .contenedor {
    width: 90%;
    padding: 20px;
  }

  input[type="text"] {
    width: 100%;
    margin: 0 0 10px 0;
  }

  button {
    width: 100%;
  }
}
